<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<httpHandlers>
			<add verb="*" path="*" type="NRack.Hosting.AspNet.AspNetHandler"/>
		</httpHandlers>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="RackHandler" verb="*" path="*" type="NRack.Hosting.AspNet.AspNetHandler"/>
		</handlers>
	</system.webServer>
</configuration>
