<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="nhaml" type="NHaml.Configuration.NHamlConfigurationSection, NHaml"/>
    <section name="rack" type="Rack.Hosting.AspNet.RackConfigurationSection"/>
  </configSections>
  <rack type="RackExample.RackConfig, Rack.Example, Version=1.0.0.0, Culture=neutral" />
  <nhaml autoRecompile="false" templateCompiler="CSharp4" encodeHtml="false" useTabs="false" indentSize="2" />
  <system.web>
    <customErrors mode="On"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <clear/>
      <add name="RackModule" type="Rack.Hosting.AspNet.AspNetHttpModule, Rack, Version=1.0.0.0, Culture=neutral"/>
    </httpModules>
    <httpHandlers>
      <clear/>
      <add verb="**" path="**" type="Rack.Hosting.AspNet.AspNetHandler, Rack, Version=1.0.0.0, Culture=neutral" validate="true"/>
      <add verb="**" path="Default.aspx" type="Rack.Hosting.AspNet.AspNetHandler, Rack, Version=1.0.0.0, Culture=neutral" validate="true"/>
    </httpHandlers>
  </system.web>
</configuration>
