<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="nhaml" type="NHaml.Configuration.NHamlConfigurationSection, NHaml"/>
    <section name="rack" type="NRack.Hosting.AspNet.RackConfigurationSection"/>
  </configSections>
  <rack type="NRack.Example.RackConfig, NRack.Example, Version=1.0.0.0, Culture=neutral" />
  <nhaml autoRecompile="false" templateCompiler="CSharp4" encodeHtml="false" useTabs="false" indentSize="2" />
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="NRack, Version=1.0.0.0, Culture=neutral"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="RackModule" type="NRack.Hosting.AspNet.AspNetHttpModule, NRack, Version=1.0.0.0, Culture=neutral"/>
    </httpModules>
    <httpHandlers>
      <clear/>
      <add verb="**" path="**" type="NRack.Hosting.AspNet.AspNetHandler, NRack, Version=1.0.0.0, Culture=neutral" validate="true"/>
      <add verb="**" path="Default.aspx" type="NRack.Hosting.AspNet.AspNetHandler, NRack, Version=1.0.0.0, Culture=neutral" validate="true"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RackModule" />
      <add name="RackModule" type="NRack.Hosting.AspNet.AspNetHttpModule, NRack, Version=1.0.0.0, Culture=neutral"/>
    </modules>
    <handlers>
      <add name="RackHandler" preCondition="integratedMode" verb="*" path="RackHandler.axd" type="NRack.Hosting.AspNet.AspNetHandler, NRack, Version=1.0.0.0, Culture=neutral" />
    </handlers>
  </system.webServer>
</configuration>
